body {
    background-color: rgb(196, 218, 247);
    padding: 0;
    margin: 0;
}
h2 {
    margin-top: 100px;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}
.Donate {
    display: flex;
    justify-content: center;
padding-top: 20px;
}
img {
    height: 500px;
    width: 500px;
}
.blocks {
    display: flex;
    width: 1200px;
    margin-top: 100px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 20px;

}
.block1 {
    text-align: center;
    align-self: start;
    width: 300px;
}
.block2 {
    text-align: center;
    align-self: center;
    width: 300px;
}
.block3 {
    text-align: center;
    align-self: flex-end;
    width: 300px;
}
h3 {
    margin-top: 400px;
    text-align: center;
    font-weight: lighter;
    font-size: 10px;
}